# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

.idea/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xcodeproj/project.xcworkspace/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa

# Android build files
android/build/
android/app/build/
android/.gradle/
*.keystore

# Local configuration
android/local.properties

# IDE files
android/.idea/
android/*.iml

# Keystore files
android/*.jks
android/*.keystore

# Miscellaneous
*.log
*.apk
*.ap_
*.dex
*.class
.DS_Store